body {
  background: linear-gradient(135deg, #e79ac2, #ffcc80);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.chat-container {
  width: 380px;
  height: 640px;

  background: white;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}


h1 {
  text-align: center;
  margin-bottom: 15px;
  color: #67244c;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  border: 1px solid #ffe0b2;
  border-radius: 10px;
  background-color: #0421df;
}

.message {
  max-width: 75%;
  padding: 10px 14px;
  border-radius: 12px;
  margin-bottom: 10px;
  line-height: 1.4;
}

.user {
  background: #ffe5cc;
  align-self: flex-end;
}

.bot {
  background: #e6f0ff;
  align-self: flex-start;
}

.input-area {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ffcc80;
  border-radius: 10px;
}

button {
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #f57c00;
}
